.custom-image {
  position: absolute; /* 固定在页面某处 */
  top: 200px;       /* 距离页面顶部 20px */

  z-index: 10;     /* 确保在其他元素之上 */
}

.custom-image img {
  width: 50px;    /* 设置图片宽度 */
  height: 100px;    /* 高度自动适应比例 */
}
